# Kafka Configuration
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=user-registered

# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=${SMTP_USERNAME}
SMTP_PASSWORD=${SMTP_PASSWORD}
FROM_EMAIL=${FROM_EMAIL}

# Test Configuration
TEST_EMAIL=it@liya.ae

# Service Configuration
PORT=5000
